<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>medias</key>
	<array>
		<dict>
			<key>name</key>
			<string>Unprotected Akamai HLS stream</string>
			<key>url</key>
			<string>https://rts-vod-amd.akamaized.net/ww/13228673/edf35ff9-3ec1-3d47-9b9d-df5a3fa7f159/master.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akamai token-protected HLS stream</string>
			<key>url</key>
			<string>https://srgssrlsvech.akamaized.net/out/v1/8686957b2c284d9688941bf2a76fa8cb/index.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FairPlay-protected HLS live stream</string>
			<key>url</key>
			<string>https://lsvs-rts1-d.akamaized.net/out/v1/82ab0e39500a47a3b7ac54626d5399b5/index.m3u8?dw=7201</string>
			<key>certificateUrl</key>
			<string>https://srg.live.ott.irdeto.com/licenseServer/streaming/v1/SRG/getcertificate?applicationId=live</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Non-Akamai MP3 stream</string>
			<key>url</key>
			<string>http://stream.srg-ssr.ch/m/la-1ere/mp3_128</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akamai MP3 stream</string>
			<key>url</key>
			<string>https://rts-aod-dd.akamaized.net/ww/13141009/51a55d34-ce77-33ab-8a01-b01c4ffbc56f.mp3</string>
		</dict>
	</array>
</dict>
</plist>
