<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>medias</key>
	<array>
		<dict>
			<key>name</key>
			<string>Unprotected Akamai HLS stream</string>
			<key>url</key>
			<string>https://rtsvodww-vh.akamaihd.net/i/genhi/2018/genhi_20180126_full_f_1067247-,301k,101k,701k,1201k,2001k,fra-ad,.mp4.csmil/master.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akamai token-protected HLS stream</string>
			<key>url</key>
			<string>https://srgssruni11ch-lh.akamaihd.net/i/enc11uni_ch@191455/master.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>FairPlay-protected HLS stream</string>
			<key>url</key>
			<string>https://rtsun-euwe.akamaized.net/9b2ba1d2-fefd-422f-8a8f-21b5da49a06d/rts1.ism/manifest(format=m3u8-aapl,encryption=cbcs-aapl)</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Non-Akamai HLS stream</string>
			<key>url</key>
			<string>https://lsaplus.swisstxt.ch/audio/la-1ere_96.stream/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Non-Akamai MP3 stream</string>
			<key>url</key>
			<string>http://stream.srg-ssr.ch/m/la-1ere/mp3_128</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Akamai MP3 stream</string>
			<key>url</key>
			<string>https://srfaudio-a.akamaihd.net/delivery/world/75f44907-4638-422d-bc80-bbb14c9d9c93.mp3</string>
		</dict>
	</array>
</dict>
</plist>
